/*Logo*/
#logo{
    padding: 0;
    height: 350px;
  }
  
  /*Nav Bar */
  #nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
  }
  
  li {
    float: left;
    height: 50px;
  }
  h1{
   text-align: center; 
  }
  .loginPos{
   float: right;
  }
  #uhr{
   color: white;
   
  }
  #uhr:hover{
   background: #333
  }
  
  
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    height: 50px;
  }
  
  
  li a:hover {
    background-color:black;
    color: white;
  }
  
  .login{
  float:right;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  }
  
  /* footer*/
  footer{
    background-color: #333;
  }
  #fooder_padding-top{
    margin-top: 150px;
  }
  
  /*Main Content*/
  /* Headlines Main Content*/
  #padding-top{
    padding-top: 20px;
  }
  #distens_Notes{
    padding-left: 50px;
    
  }
   
  #distens_Login{
    padding-left: 150px;
    padding-top: 20px;
  }
  
  .mainText{
    width: 55%;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 50px;
    color: Black;
  }

  #row_dist{
    padding-top: 30px;
    padding-left: 15px;


  }
  /*Login Feld*/
  .loginTable{
    width: 30;
    float: right;
  }
  #Login_btn:hover{
    -webkit-transform: scale(1.1);
     
  }
  
    
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
  }
  
  .column a{
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  
  /*Spinner*/
  
  #spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #07e212;
    border-radius: 50%;
    border-top: 16px solid #0f0f0f;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  
  
  
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
  
  /*Login Page*/
  
  
  
  #background{
    background-image:url("hacking-1685092_960_720.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    
  }
  
  .Box{
    margin-left: 40%;
    height: 100%;
    align-content: center;
  }
  
  .Box_two{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: grey;
  }
  
  .Box-header {
    color: #FFC312;
  }
  .Box-body{
    margin: 10%;
    
  
  }
  .remember{
    color: white;
  }
  
  .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
  }
  
  .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    
  }
  
  .login_btn:hover{
    color: black;
    background-color: white;
  }
  
  .links{
    color: white;
  }
  
  .links a{
    margin-left: 4px;
  }
  #backToHome{
    margin-top: 80px;
  }
  
  /* disable extra things*/
  

  @media (orientation:portrait) {
    #distens_Notes{
       display: none; /* visibility: none; */
    }
    #distens_Login{
      display: none; /* visibility: none; */
   }
 }
 @media (orientation:landscape) and (max-width: 425px) {
    #distens_Notes {
       display: none; /* visibility: none; */
    }
    #distens_Login{
      display: none; /* visibility: none; */
   }
   #location_png{
    min-height: 375px;
    min-width: 500px;
   }
 }