/*Logo*/
#logo{
    padding: 0;
    top: -30px;
  }
  
  /*Nav Bar */
  #nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
  }
  
  li {
    float: left;
    height: 50px;
  }
  h1{
   text-align: center; 
  }
  .loginPos{
   float: right;
  }
  #uhr{
   color: white;
   
  }
  #uhr:hover{
   background: #333
  }
  
  
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    height: 50px;
  }
  
  
  li a:hover {
    background-color:black;
    color: white;
  }
  
  .login{
  float:right;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  }
  

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}





  
  /* footer*/
  footer{
    background-color: #333;
  }
  #fooder_padding-top{
    margin-top: 150px;
  }
  
  /*Main Content*/
  /* Headlines Main Content*/
  #padding-top{
    padding-top: 20px;
  }
  #distens_Notes{
    padding-left: 50px;
    
  }
   
  #distens_Login{
    padding-left: 150px;
    padding-top: 20px;
  }
  

  #row_dist{
    padding-top: 30px;
    padding-left: 15px;


  }
  /*Login Feld*/
  .loginTable{
    width: 30;
    float: right;
  }
  #Login_btn:hover{
    -webkit-transform: scale(1.1);
     
  }
  
    
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
  }
  
  .column a{
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  
  
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

 
  .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    
  }
  
  .login_btn:hover{
    color: black;
    background-color: white;
  }
  
  .links{
    color: white;
  }
  
  .links a{
    margin-left: 4px;
  }
  

 
 

  
  /* disable extra things*/
 

  @media (orientation:portrait) {
    #distens_Notes{
       display: none; /* visibility: none; */
    }
    #distens_Login{
      display: none; /* visibility: none; */
   }
   #map100{
    width: 100%;
  }

  .NAVBAR{
    display: none;
  }
  .SIDEBAR{
    
  }
   
   
   
 }
 @media (orientation:landscape) and (max-width: 500px) {
    #distens_Notes {
       display: none; /* visibility: none; */
    }
    #distens_Login{
      display: none; /* visibility: none; */
   }
   
   
  
 }